<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.email %>님께 연락해보세요!</h1>
    <p>
    Teacher for me에서 <%= @user.email %>님이 <%= @teacher.user.email %>님께 연락하길 원합니다.
    </p>
    <p>
    관리를 하시려면 <a href="http://teacherfor.me" target="_blank">Teacher for me</a>로 이동하세요
    </p>
    <p>감사합니다!</p>
  </body>
</html>
